{% extends 'base.html' %}
{% load i18n %}
{% load my_filter %}
{% block content %}
<div class="container my-5">
    <section>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3">
            <div class="swiper my-auto swiper-course">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    src="{{ course.image.url }}"
                    class="img-fluid"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">{{ course.name }}</h5>
              <p class="card-text mt-4">
                {{ course.short_description }}
              </p>
              <p class="card-text fs-4">
                <strong class="text-success mt-3"> {{ course.price | currency }} </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="card">
        <div class="card-header p-0 bg-white">
          <ul
            class="nav nav-pills nav-justified"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active text-secondary"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
                {% trans 'Description' %}
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link text-secondary"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
              >
              {% trans 'History' %}
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
              <p class="fs-6 text-muted">
                {{ course.description}}
              </p>
            </div>
            <div
              class="tab-pane fade"
              id="pills-profile"
              role="tabpanel"
              aria-labelledby="pills-contact-tab"
            >
              <p class="fs-6 text-muted">
                {{ course.info }}
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Display a payment form -->
    <!-- Display a payment form -->
    <div id="pay-rom">

    <form id="payment-form">
      {% csrf_token %}
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>
  </div>
   <script >

const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      // This is your test publishable API key.
const stripe = Stripe("{{ public_key }}");

let elements;

initialize();
checkStatus();

document
  .querySelector("#payment-form")
  .addEventListener("submit", handleSubmit);

// Fetches a payment intent and captures the client secret
async function initialize() {
  const response = await fetch("{% url 'create-payment-intent' course.id %}", {
    method: "POST",
    headers: { 
      "Content-Type": "application/json",
      'X-CSRFToken': csrftoken
    },
  });
  const { clientSecret } = await response.json();

  const appearance = {
    theme: 'stripe',
  };
  elements = stripe.elements({ appearance, clientSecret });

  const paymentElementOptions = {
    layout: "tabs",
  };

  const paymentElement = elements.create("payment", paymentElementOptions);
  paymentElement.mount("#payment-element");
}

async function handleSubmit(e) {
  e.preventDefault();
  setLoading(true);

  const { error } = await stripe.confirmPayment({
    elements,
    confirmParams: {
      // Make sure to change this to your payment completion page
      return_url: "http://localhost:8000/",
    },
  });

  // This point will only be reached if there is an immediate error when
  // confirming the payment. Otherwise, your customer will be redirected to
  // your `return_url`. For some payment methods like iDEAL, your customer will
  // be redirected to an intermediate site first to authorize the payment, then
  // redirected to the `return_url`.
  if (error.type === "card_error" || error.type === "validation_error") {
    showMessage(error.message);
  } else {
    showMessage("An unexpected error occurred.");
  }

  setLoading(false);
}

// Fetches the payment intent status after payment submission
async function checkStatus() {
  const clientSecret = new URLSearchParams(window.location.search).get(
    "payment_intent_client_secret"
  );

  if (!clientSecret) {
    return;
  }

  const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

  switch (paymentIntent.status) {
    case "succeeded":
      showMessage("Payment succeeded!");
      break;
    case "processing":
      showMessage("Your payment is processing.");
      break;
    case "requires_payment_method":
      showMessage("Your payment was not successful, please try again.");
      break;
    default:
      showMessage("Something went wrong.");
      break;
  }
}

// ------- UI helpers -------

function showMessage(messageText) {
  const messageContainer = document.querySelector("#payment-message");

  messageContainer.classList.remove("hidden");
  messageContainer.textContent = messageText;

  setTimeout(function () {
    messageContainer.classList.add("hidden");
    messageContainer.textContent = "";
  }, 4000);
}

// Show a spinner on payment submission
function setLoading(isLoading) {
  if (isLoading) {
    // Disable the button and show a spinner
    document.querySelector("#submit").disabled = true;
    document.querySelector("#spinner").classList.remove("hidden");
    document.querySelector("#button-text").classList.add("hidden");
  } else {
    document.querySelector("#submit").disabled = false;
    document.querySelector("#spinner").classList.add("hidden");
    document.querySelector("#button-text").classList.remove("hidden");
  }
}
    </script>
  </div>
  {% endblock %}