{% extends 'base.html' %}
{% load i18n %}
{% load my_filter %}
{% block content %}




<div class="container-fluid">
    <div class="row mt-5">

        <div class="col-md-6 offset-md-3">
  <ul class="list-group">
      {% for section in sections %}
      <a href="{% url 'Course_section_lessons' section.id %}">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{section.name}}
          <span class="badge badge-primary badge-pill text-secondary">{{section.lesson_set.count}} {% trans "lessons" %}</span>
      </li>
      </a>
      {% endfor %}
  </ul>
        </div>
      </div>
 
  </div>

{% endblock content %}